build/
coverage/
node_modules/
tmp/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
cc-test-reporter
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
env-config.js
NOTES.md

# build output
dist
.next

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out*
test/**/next-env.d.ts
.DS_Store

# Editors
**/.idea

# examples
examples/**/out
examples/**/.env*.local

pr-stats.md

# Vercel
.vercel
.now
